@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MovieTimeStreaming</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/settings.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/MovieTimeStreaming.styles.css" asp-append-version="true"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-0">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/Asset/MovieTimeLogo.png" alt="Logo" class=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <div class="main-menu" asp-area="Auth">
                    <a href="" class="main-btn" onclick="event.preventDefault(); view_menu();">
                        <div>
                            @{var user = await UserManager.FindByNameAsync(User.Identity.Name);}
                            <p> <img src="@user.ProfileImage" id="userAvatar"><i class="arrow down"></i></p>
                        </div>
                    </a>
                    <div class="menu-content" id="menu-content">
                        <br>
                        <p class="ms-3 user-name">@user.UserName</p><hr>
                        @* <a class="dropdown-item" asp-page="profile">My profile</a> *@
                        <a class="dropdown-item" asp-page="bookmarkList">Bookmark list</a>
                        <a class="dropdown-item" asp-page="settings">Settings</a>
                        <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"> <span class="ml-1">Sign out</span></a>
                        <form id="logout-form"  class="form-inline" asp-page="/Auth/LogOut" method="post" >
                        </form>
                        <br>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex align-items-center navCenter">
                <div class="search-bar pe-2 me-2">
                    <form class="navbar-nav" method="post" action="{{route('search-results')}}">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search" id="search-input" name="q">
                    </form>
                    </div>
                <a asp-page="category" asp-route-category="Movies" class="pe-2 me-1">Movies</a>
                <a asp-page="category" asp-route-category="Tv Shows" class="pe-2 me-1">Tv Shows</a>
                <a asp-page="category" asp-route-category="Anime" class="pe-2 me-1">Anime</a>
                <a asp-page="category" asp-route-category="Documentaries" class="pe-2 me-1">Documentaries</a>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid p-0">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2022 - MovieTimeStreaming - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
  function view_menu(){

        document.getElementById('menu-content').classList.toggle("show");
    }
    window.onclick = function(event) {
        const $trigger = $(".main-btn");
        if($trigger !== event.target && !$trigger.has(event.target).length){
            document.getElementById("menu-content").classList.remove("show");
        }
    }
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>