@page
@model MovieTimeStreaming.Pages.Auth.ForgetPasswordConfirmationModel
@{
    Layout = "Shared/_Layout_Auth";
    ViewData["Title"] = "Forget Password Confirmation";
}
<p align="center" class="m-4">
    Please check your email to reset your password.
</p>
