@page
@model MovieTimeStreaming.Pages.Auth.SignUpModel
@{
    Layout = "Shared/_Layout_Auth";
    ViewData["Title"] = "Subscribe";
}
<div class="my-form card ms-auto me-auto">

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mt-2">
            <input asp-for="Input.UserName" class="form-control" placeholder="Name" autocomplete="username" aria-required="true">
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="new-password" aria-required="true">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="on">
            <span asp-validation-for="Input.Password" class="text-danger" ></span>
        </div>
        <div class="form-group mt-2">
            <input asp-for="Input.ConfirmPassword"  class="form-control" placeholder="Confirm password" autocomplete="new-password" aria-required="true">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group mt-2 mb-2" align="center">
            <button type="submit" class="btn my-btn" style="width: 200px">Sign up</button>
        </div>
    </form>
    <p><a class="mt-2" asp-page="/Auth/LogIn">Already have an account? Log in here.</a></p>
    <hr style="background-color: rgba(42, 98, 116, 0.55)">
    <div align="center">
        <p style="font-size: large">Or sign up with</p>
        <a href="/auth/redirect"><img class="signup-icon" src="/Asset/gmail-icon.png"></a>
        <a href="/auth/redirect"><img class="signup-icon" src="/Asset/f_logo_RGB-Blue_100.png"></a>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}