@page
@model MovieTimeStreaming.Pages.Admin.AccessDeniedModel
@{
    Layout = "Shared/_Layout_Auth";
}
<div class="container">
    <div class="card m-auto mt-5 p-4" style="width: 20rem">
        <h4>Access Denied</h4>
        <p class="lead">You are restricted from this page! <a href="/">HOME</a></p>
    </div>
</div>