@page
@model MovieTimeStreaming.Pages.User.categoryModel
@{
    Layout = "Shared/_Layout_User";
    ViewData["Title"] = Model.selectedCategory+" category";
}
<div class="banner-img p-0" style="background-image: url('/Asset/@Model.selectedCategory-banner.jpg')">
    <div class="container py-3">
        <h1 class="display-4 fw-bold">@Model.selectedCategory</h1>
        <hr class="my-4">
        <p>.</p>
    </div>
</div>