@page
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model MovieTimeStreaming.Pages.User.settingsModel
@{
    Layout = "Shared/_Layout_User";
    ViewData["Title"] = "Main";
}

<div id="app">
<div class="rounded-lg d-block d-sm-flex">
	<div class="profile-tab-nav border-right">
		<div class="p-4">
			<div class="img-circle text-center mb-3">
				<img src="@Model.userImage" alt="User Image" class="shadow userImg">
			</div>
			<h4 class="text-center">@Model.userName</h4>
		</div>
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active show" id="account-tab" v-on:click.prevent="selectTap('account-tab')" href="#account" role="tab" aria-controls="account" aria-selected="true">
				<i class="fa fa-home text-center mr-1"></i> 
				Account
			</a>
			<a class="nav-link nav" id="password-tab" v-on:click.prevent="selectTap('password-tab')"  href="#password" role="tab" aria-controls="password" aria-selected="false">
				<i class="fa fa-key text-center mr-1"></i> 
				Password
			</a>
			<a class="nav-link" id="security-tab" v-on:click.prevent="selectTap('security-tab')"  href="#security" role="tab" aria-controls="security" aria-selected="false">
				<i class="fa fa-user text-center mr-1"></i> 
				Security
			</a>
			<a class="nav-link" id="application-tab" v-on:click.prevent="selectTap('application-tab')"  href="#application" role="tab" aria-controls="application" aria-selected="false">
				<i class="fa fa-tv text-center mr-1"></i> 
				Application
			</a>
			<a class="nav-link" id="notification-tab" v-on:click.prevent="selectTap('notification-tab')"  href="#notification" role="tab" aria-controls="notification" aria-selected="false">
				<i class="fa fa-bell text-center mr-1"></i> 
				Notification
			</a>
		</div>
	</div>
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
		
		<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
			<form method="post" asp-page-handler="Account" enctype="multipart/form-data">
			<h3 class="mb-4">Account Settings</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="newName" class="form-control" value="@Model.userName">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Email</label>
						<input type="text" name="newEmail" class="form-control" value="@Model.userEmail">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Profile image</label>
						<button class="ms-1 btn my-btn fa fa-paperclip" onclick="event.preventDefault(); document.getElementById('new-img').click();"></button>
						<input type="file" class="form-control" id="new-img" asp-for="newImg" accept="image/*" hidden>
					</div>
				</div>
			</div>
			<div>
				<button class="btn my-btn">Update</button>
				<button class="btn btn-light">Cancel</button>
			</div>
			</form>
		</div>

		<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
			<h3 class="mb-4">Password Settings</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Old password</label>
						<input type="password" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>New password</label>
						<input type="password" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Confirm new password</label>
						<input type="password" class="form-control">
					</div>
				</div>
			</div>
			<div>
				<button class="btn my-btn">Update</button>
				<button class="btn btn-light">Cancel</button>
			</div>
		</div>
		<div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
			<h3 class="mb-4">Security Settings</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Login</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Two-factor auth</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="recovery">
							<label class="form-check-label" for="recovery">
								Recovery
							</label>
						</div>
					</div>
				</div>
			</div>
			<div>
				<button type="submit" class="btn my-btn">Update</button>
				<button class="btn btn-light">Cancel</button>
			</div>
			
		</div>
		
		<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
			<h3 class="mb-4">Application Settings</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="app-check">
							<label class="form-check-label" for="app-check">
								App check
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
							<label class="form-check-label" for="defaultCheck2">
								Lorem ipsum dolor sit.
							</label>
						</div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn my-btn">Update</button>
				<button class="btn btn-light">Cancel</button>
			</div>
		</div>
		<div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
			<h3 class="mb-4">Notification Settings</h3>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="notification1">
					<label class="form-check-label" for="notification1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="notification2">
					<label class="form-check-label" for="notification2">
						hic nesciunt repellat perferendis voluptatum totam porro eligendi.
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="notification3">
					<label class="form-check-label" for="notification3">
						commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
					</label>
				</div>
			</div>
			<div>
				<button class="btn my-btn">Update</button>
				<button class="btn btn-light">Cancel</button>
			</div>
		</div>
	</div>
</div>
</div>

<script>
const { createApp } = Vue
      createApp({
        data() {
          return {
            selectedTap:"account-tab",
          }
        },
        methods:{
			selectTap(tapName)
			{
				this.selectedTap=tapName;
			}
			},
			watch:{
			selectedTap:function(newVal,oldVal) {
			  $("#"+oldVal).removeClass("active");
			  $("#"+oldVal).removeClass("show");
			  $("#"+newVal).addClass("active");
			  $("#"+newVal).addClass("show");
			  //SHOW SELECTED TAP
			  $("#"+oldVal.substring(0,oldVal.length-4)).removeClass("active");
              $("#"+oldVal.substring(0,oldVal.length-4)).removeClass("show");
              $("#"+newVal.substring(0,newVal.length-4)).addClass("active");
              $("#"+newVal.substring(0,newVal.length-4)).addClass("show");
			}
			}
      }).mount('#app')
</script>
