@page
@model MovieTimeStreaming.Pages.Auth.ExternalLoginModel
@{
    Layout = "Shared/_Layout_Auth";
    ViewData["Title"] = "Register";
}

<h1 class="p-2">@ViewData["Title"]</h1>
<h2 id="external-login-title" class="p-2">Associate with your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info p-2">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="my-form card ms-auto me-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn my-btn mt-2">Register</button>
        </form>
  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
