@page
@model MovieTimeStreaming.Pages.Auth.LogOutModel
@{
    Layout = "Shared/_Layout_Auth";
    ViewData["Title"] = "Log Out";
}
<div class="mt-5">
<h1 align="center">@ViewData["Title"]</h1>
<p align="center">You have successfully logged out of the application.</p>
</div>