html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 0px;
  background-color: #f9fdfa;
  
}
main{
  min-height: 60vh;
  margin-bottom: 60px;
}
.my-btn{
 background-color: #2A6274; 
  color: white;
}
.my-btn:hover{
  background-color: white;
  color:#2A6274 ;
  border: 1px solid #2A6274;
}
.my-btn:focus{
  box-shadow: 0px 1px 1px rgba(67, 183, 155,.5) ;
}
.navbar{
  background-color: #229B97;
  border-bottom-color: #2A6274!important;
}
.home-img{
  background-image: url("/Asset/Home.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.my-form{
  width: 35vw;
  margin-top: 10vh;
  padding: 20px;
  border: 1px solid rgba(42, 98, 116, 0.55);
  margin-bottom: 15vh;
}

.form-control:focus{
  border-color: #2A6274;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(225, 207, 169, 0.5);
}
a{
  text-decoration: none;
  color: #2A6274;
}
a:hover{
  text-decoration: none;
  color: rgba(42, 98, 116, 0.45);
}
.signup-icon{
  height: 50px;
  width: 50px;
  margin: 10px;
}
.my-form p{
  font-size: small;
}
.main-menu{
  margin-right: 10%;
  position: absolute;
  display: inline-block;
  right: 0;
}

.arrow {
  border: solid #2F4858;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.menu-content{
  display: none;
  border: 1px solid rgba(42, 98, 116, 0.55);
  border-radius:5%;
  position: absolute;
  right: 0;
  background-color: #f9fdfa;
  padding: 5px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.menu-content .dropdown-item{
  margin-bottom: 2px;
}
.show {display:block;}
#userAvatar{

  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navCenter a{
  border-right: 2px solid #2A6274;
  color: #2A6274;
}
.navCenter a:hover {
  color: #1F7E8A;
}
.banner-img{
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  background-size: cover;
  color: #00AD94;
}
.user-name{
  color: #43B79B;
}
.loader img{
  height: 64px;
  width: 64px;
  display: none;
}
.MediaPosterImg{
  width: 100%;
}
.checked {
  color: goldenrod;
}
@media screen and (max-width: 576px) {
  .fa-star {
    font-size: .6rem;
  }

  .rate {
    font-size: .6rem;
  }
}
.comment_in{
  min-height: 100px;
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  border: 1px solid #f5eee2;
}
.comment_in:focus
{
  border: 1px solid #565c68;
}
.review{
  background-color: rgba(31, 126, 138, 0.73);
  border-radius: 1%;
}
.my_review{
  background-color: rgba(31, 126, 138, 0.73);
  border-radius: 1%;
}
.fa-star {
  font-size: 4vw;
}

.rate {
  font-size: 2vw;
}
