@page
@model IndexModel
@{
    Layout = "Shared/_Layout_Home";
    ViewData["Title"] = "Movie Time";
}
<div class="home-img p-0" style="color: white">
    <div class="container py-3">
        <h1 class="display-4 fw-bold">Welcome</h1>
        <p class="lead">Movie Time is subscription based service for streaming media online.</p>
        <hr class="my-4">
        <p>Subscribe now and enjoy 30 days free trial.</p>
        <p class="lead">
            <a asp-page="/Auth/SignUp" class="btn my-btn">Subscribe</a>
        </p>
    </div>
</div>
<div class="ms-5 mb-2 mt-5">
    <h1 class="display-5" align="center">Subscription plans</h1>
    <div align="center">
        <div class="container ">
            <div class="row plans py-2">
                <div class="col card me-xl-5 me-lg-5 me-md-4 me-sm-4 me-3"><p class="display-2">1</p><p style="font-size: large">month</p><p style="font-size: x-large">34 &#36;</p></div>
                <div class="col card me-xl-5 me-lg-5 me-md-4 me-sm-4 me-3"><p class="display-2">6</p><p style="font-size: large">month</p><p style="font-size: x-large">170 &#36;</p></div>
                <div class="col card me-xl-5 me-lg-5 me-md-4 me-sm-4 me-3"><p class="display-2">1</p><p style="font-size: large">year</p><p style="font-size: x-large">340 &#36;</p></div>
            </div>
    </div>
</div>

</div>
